@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'PeoplefirstFightingTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-2@1.0/PeoplefirstFightingTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F0EEEC;
}

html::-webkit-scrollbar {
    display: none;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
#header a {
    display: flex;
    align-items: center;
    height: 3rem;
    gap: 0.5rem;
    text-decoration: none;
}
#header a img {
    width: 2.5rem;
    height: auto;
    vertical-align: middle;
}
#header a:visited {
    color: black;
}
#header img {
    width: 1.8rem;
}
#header img:nth-child(2) {
    margin-right: 1rem;
    cursor: pointer;
}

.contents-container .right {
    display: flex;
    justify-content: center; 
    transition: transform 0.3s ease; 
}
.contents-container {
    display: flex;
    position: relative;
}
.left {
    flex: 2;
    position: sticky;
    top: 4rem; /* 화면의 상단에 고정 */
    overflow: hidden;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    z-index: 1000;
}
.title-logo {
    display: flex;
    align-items: center;
    height: 25vh;
    margin-bottom: 1rem;
}
#cafe-title {
    flex: 1;
    font-size: 2.5rem;
    word-break: keep-all;
    font-family: 'PeoplefirstFightingTTF';
}
#cafe-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#cafe-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;   
}

/*SIDE MENU*/
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 25rem;
    height: 100vh;
    background-color: #97918c;
    z-index: 1000;
    transform: translateX(100%); /* 초기 상태: 숨김 */
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: #000000;
    z-index: 1002;
}
.side-menu p {
    padding-top: 2rem;
    font-size: 2rem;
    color: #F0EEEC;
}
.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.side-menu li {
    padding-top: 3rem;
    margin: 1rem 0;
}

.side-menu a {
    text-decoration: none;
    font-size: 2rem;
    color: #F0EEEC;
    transition: color 0.2s;
    font-family: 'PeoplefirstFightingTTF';
}

.cafes li:nth-child(1) a:hover {
    color: rgb(62, 94, 61);
}
.cafes li:nth-child(2) a:hover {
    color: rgb(133, 83, 83);
}
.cafes li:nth-child(3) a:hover {
    color: rgb(233, 208, 107);
}
.cafes li:nth-child(4) a:hover {
    color: rgb(210, 197, 115);
}

.contact {
    text-align: left;
}

.contact a {
    font-family: 'Pretendard-Regular';
    font-weight: 100;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 3rem;
    font-size: 1rem;
    transition: all 0.4s ease;
}
.contact a:hover {
    background-color: white;
    color: rgb(76, 73, 62);
}
.side-menu.hidden {
    transform: translateX(100%);
}

.side-menu.visible {
    transform: translateX(0);
}

#menu-close {
    position: absolute;
    top: 1.2rem;
    right: 1.8rem;
    width: 2rem; /* 버튼 크기 */
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: transparent;
    cursor: pointer;
}

#menu-close img {
    pointer-events: none; 
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* 오버레이 기본 스타일 */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 */
    z-index: 1001; /* 사이드 메뉴 바로 아래 */
    display: none; /* 초기에는 숨김 */
}

/* 오버레이가 활성화될 때 */
#overlay.visible {
    display: block;
}


/*FILTERING TAB*/
.filter-section {
    padding-left: 2rem;
}
.filter-section .filter-group:first-child {
    padding-bottom: 2rem;
}
.filter-group p {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #48453c;
    font-family: 'PeoplefirstFightingTTF';
    font-weight: 100;
}
.filter-group p::after {
    position: absolute;
    content: "";
    width: 5em;
    border: 0.5px solid #98948f;
    left: 0;
    bottom: 0;
    transform: translate(0, 10%);
}

.filter-section .filter-group:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.filter-section .filter-group:nth-of-type(2).filter-btn {
    text-align: left;
}

.filter-btn {
    position: relative;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid rgb(83, 74, 74);
    color: rgb(83, 74, 74);
    cursor: pointer;
    border-radius: 3rem;
    transition: background-color 0.3s;
    font-family: 'Pretendard-Regular';
    z-index: 1;
}

.filter-btn:hover {
    color: white;
}

.filter-btn.button-active {
    color: white;
}



/*GALLERY*/
.right {
    position: relative;
    display: flex;
    flex: 4;
    overflow-y: auto;
}

.gallery {
    position: relative;
    display: grid;
    width: 50rem;
    grid-template-columns: 1fr;
    border-left: solid 1.5px #cdc9c3;
    border-right: solid 1.5px #cdc9c3;
    justify-content: flex-start;
    margin-right: 5rem;
    font-size: 1.5rem;
    font-family: 'Ownglyph_ryurue-Rg';
}

.gallery-item {
    height: 45vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: flex-end;
    overflow: hidden; 
    transform-style: preserve-3d;
    border-bottom: solid 1.5px #cdc9c3;
}

.gallery-item .img-container {
    perspective: 1500px; /* 3D 효과 */
}
.gallery-item img {
    display: block;
    width: 100%;
    height: 45vh;
    object-fit: cover; 
    overflow: hidden;
    cursor: pointer; 
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    position: relative;
    z-index: 2;
    transform-origin: center; 
}
.gallery-item:nth-child(odd) img {
    transform-origin: left center; 
}

.gallery-item:nth-child(even) img {
    transform-origin: right center; 
}

.gallery-item:nth-child(odd) .img-container:hover img {
    transform: rotateY(20deg) rotateX(0deg); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
}

.gallery-item:nth-child(even) .img-container:hover img {
    transform: rotateY(-20deg) rotateX(0deg); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
}

.text-right {
    text-align: right;
    padding: 1.5rem;
    color: #383737;
}
.text-left {
    text-align: left;
    padding: 1.5rem;
    color: #383737;
}

@media (max-width: 768px) {
    .contents-container {
        flex-direction: column;
    }
    #header {
        z-index: 1000;
        background-color: #F0EEEC;
        font-size: 1.2rem;
    }
    #header a {
        display: flex;
        align-items: center;
        height: 3rem;
        gap: 0.5rem;
        text-decoration: none;
    }
    #header a img {
        width: 1.8rem;
        height: auto;
        vertical-align: middle;
    }
    #header img {
        width: 1.2rem;
    }
    .left {
        display: none;
    }

    .right {
        flex: none;
        margin-top: 4rem; 
        width: 100%;
        height: auto;
        overflow-y: auto; /* 갤러리 스크롤 가능 */
        z-index: 1; /* `.left`보다 뒤로 배치 */
    }

    .gallery {
        position: relative;
        width: 100%;
        grid-template-columns: 1fr;
        border-left: solid 1.5px #cdc9c3;
        border-right: solid 1.5px #cdc9c3;
        justify-content: flex-start;
        margin-right: 0;
        font-size: 0.8rem;
        font-family: 'Ownglyph_ryurue-Rg';
    }
    
    .gallery-item {
        height: 30vh;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        align-items: flex-end;
        overflow: hidden; 
        transform-style: preserve-3d;
        border-bottom: solid 1.5px #cdc9c3;
    }
    
    .gallery-item .img-container {
        perspective: 1500px; /* 3D 효과 */
    }
    .gallery-item img {
        height: 30vh;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        position: relative;
        z-index: 2;
        transform-origin: center; 
    }

    .filter-group p {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        color: #48453c;
        font-family: 'PeoplefirstFightingTTF';
        font-weight: 100;
    }
    .filter-group p::after {
        position: absolute;
        content: "";
        width: 2em;
        border: 0.5px solid #98948f;
        left: 0;
        bottom: 0;
        transform: translate(0, 10%);
    }
    .filter-btn {
        position: relative;
        padding: 1px 2px;
        border: 1px solid rgb(83, 74, 74);
        color: rgb(83, 74, 74);
        cursor: pointer;
        border-radius: 3rem;
        transition: background-color 0.3s;
        font-family: 'Pretendard-Regular';
        z-index: 1;
        font-size: 0.5rem;
    }
    .text-right .text-left{
        padding: 1rem;
    }

    .side-menu {
        width: 100%;
        height: 100vh;
    }
}