@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(77, 78, 69, 0.717);
    padding: 0 4rem 3rem 4rem;
    text-align: center;
    background-color: #504b45;
    color: #ece9e4;
    font-family: 'Pretendard';
    font-weight: 200;
    font-size: 1.2rem;
}
ul {
    list-style: none; /* 기본 기호 제거 */
    padding: 0; /* 필요하면 기본 패딩 제거 */
    margin: 0; /* 필요하면 기본 마진 제거 */
}
.modal-header {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3rem;
    border-bottom: solid 0.5px #ece9e4;
}
.modal-contents {
    padding-top: 5rem;
    display: flex;
}
.modal-content-left {
    flex: 4;
}
.modal-content-right {
    flex: 5;
    padding-left: 2.5rem;
}

#modal-description {
    padding: 1.5rem;
    background-color: #716a61;
    word-break: keep-all;
}
#modal-recipe {
    text-align: left;
    line-height: 200%;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #ece9e4;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#modal-recipe p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #bcbcb4;
    color: #ece9e4;
}

#modal-title {
    padding: 1rem 0;
    font-family: 'Ownglyph_ryurue-Rg';
    font-size: 2.5rem;
}

#modal-tags {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 0.8rem;
    justify-content: center; 
}
.modal-tag {
    background-color: #dfd2c0;
    color: #575653;
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 1.5rem;
    border: 1px solid #bcbcb4;
    white-space: nowrap; /* 태그 내용이 한 줄로 유지되도록 */
}

.recipe-key {
    font-weight: bold;
    color: #bcbcb4;
    margin-right: 8px;
    border: 1px solid #bcbcb4;
    padding: 0.3rem 0.5rem;
    border-radius: 2rem;
    font-family: 'Ownglyph_ryurue-Rg';
}

.recipe-value {
    color: #ece9e4;
    font-size: 1.2rem;
}


.modal-close {
    position: absolute; 
    top: 10px; /* 모달 상단에서 10px 아래 */
    right: 10px; /* 모달 우측에서 10px 왼쪽 */
    cursor: pointer;
    color: #c4bdb1;
    background: none; 
    border: none; 
    z-index: 1100; 
}
.modal-close img {
    width: 1.6rem;
    height: auto;
}
.modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #ece9e4;
    z-index: 1100;
}
#modal-prev {
    left: 10px;
}
#modal-prev img {
    transform: rotate(180deg);
    width: 2rem;
    height: auto;
}
#modal-next {
    right: 10px;
}
#modal-next img {
    width: 2rem;
    height: auto;
}

.modal-arrow:hover {
    transform: translateY(-50%) scale(1.2); 
    transition: transform 0.3s ease;
}
.modal-close:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.modal-img-container {
    width: 100%;
    height: 50vh;
}
#modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 1rem; /*이미지 아래 공백추가*/
    border: solid 1px rgba(255, 255, 255, 0.7);
}

#modal-contact {
    position: absolute;
    right: 4rem;
    bottom: 3rem;
    text-decoration: none;
    background-color: #e5e2dc;
    font-size: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 5px 0px 0px #3a3936;
    margin-bottom: 5px;
    border-radius: 2rem;
    font-family: 'Ownglyph_ryurue-Rg';
}

#modal-contact a {
    text-decoration: none;
    color: black;
}
#modal-contact a:visited {
    color: black;
}
#modal-contact:hover {
    margin-bottom: 0px;
    box-shadow: 0px 0px 0px 0px #007144;
    transition: all 0.3s ease;
}

@media (max-width:768px) {
    .modal {
        width: 90%;
        height: 55%;
        box-shadow: 0 4px 10px rgba(77, 78, 69, 0.717);
        padding: 0 1.4rem 1rem 1.4rem;
        font-weight: 200;
        font-size: 0.8rem;
    }

    .modal-header {
        height: 2rem;
        border-bottom: solid 0.5px #ece9e4;
    }
    .modal-contents {
        padding-top: 3rem;
        display: flex;
    }
    .modal-content-left {
        flex: 4;
    }
    .modal-content-right {
        flex: 5;
        padding-left: 1rem;
    }

    #modal-description {
        padding: 0.8rem;
        background-color: #716a61;
        word-break: keep-all;
        font-size: 0.6rem;
    }
    #modal-recipe {
        line-height: 200%;
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }
    .recipe-key {
        font-weight: bold;
        color: #bcbcb4;
        margin-right: 5px;
        border: 1px solid #bcbcb4;
        padding: 0.2rem 0.3rem;
        border-radius: 2rem;
        font-family: 'Ownglyph_ryurue-Rg';
        font-size: 0.6rem;
    }
    .recipe-value {
        color: #ece9e4;
        font-size: 0.6rem;
        word-break: keep-all;
    }
    #modal-recipe p {
        font-size: 0.8rem;
        margin-bottom: 0.4rem;
    }
    .modal-img-container {
        width: 100%;
        height: 20vh;
    }
    #modal-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin-bottom: 1rem; /*이미지 아래 공백추가*/
        border: solid 1px rgba(255, 255, 255, 0.7);
    }    
    #modal-title {
        padding: 0.5rem 0;
        font-size: 1rem;
        word-break: keep-all;
    }

    #modal-tags {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap; 
        gap: 0.5rem;
        justify-content: center; 
    }
    .modal-tag {
        background-color: #dfd2c0;
        color: #575653;
        font-size: 1rem;
        padding: 0.3rem 0.8rem;
        border-radius: 1.5rem;
        border: 1px solid #bcbcb4;
        white-space: nowrap; /* 태그 내용이 한 줄로 유지되도록 */
    }

    #modal-contact {
        position: absolute;
        right: 60%;
        left: 1rem;
        bottom: 1rem;
        font-size: 0.8rem;
        padding: 0.3rem;
        box-shadow: 0px 5px 0px 0px #3a3936;
    }
    
    #modal-contact a:visited {
        color: black;
    }

    #modal-tags {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap; 
        gap: 0.3rem;
        justify-content: center; 
    }
    .modal-tag {
        background-color: #dfd2c0;
        color: #575653;
        font-size: 0.6rem;
        padding: 0.2rem 0.4rem;
        border-radius: 1.5rem;
        border: 1px solid #bcbcb4;
        white-space: nowrap; /* 태그 내용이 한 줄로 유지되도록 */
    }

    .modal-close {
        top: 8px; 
        right: 3px; 
    }
    .modal-close img {
        width: 1rem;
        height: auto;
    }
    #modal-prev {
        left: 0;
    }
    #modal-prev img {
        transform: rotate(180deg);
        width: 0.8rem;
        height: auto;
    }
    #modal-next {
        right: 0;
    }
    #modal-next img {
        width: 0.8rem;
        height: auto;
    }
    
}